<%= form_with(model: job, local: true) do |form| %>
<% if job.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(job.errors.count, "error") %>
    prohibited this job from being saved:</h2>

  <ul>
    <% job.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="field">
  <%= form.label :company %>
  <%= form.text_field :company, id: :job_company %>
</div>

<div class="field">
  <%= form.label :start_date %>
  <%= form.date_select :start_date, id: :job_start_date %>
</div>

<div class="field">
  <%= form.label :end_date %>
  <%= form.date_select :end_date, id: :job_end_date %>
</div>

<div class="field">
  <%= form.label :current_job %>
  <%= form.check_box :current_job, id: :job_current_job %>
</div>

<div class="actions">
  <%= form.submit %>
</div>
<% end %>
