<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>

    <!--<title>Jake Doyle - Web Developer</title>-->
    <title><%= full_title(yield(:title)) %></title>

    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => "reload" %>
    <link href="https://fonts.googleapis.com/css?family=Bubbler+One|Bungee|EB+Garamond" rel="stylesheet">

    <%= javascript_include_tag "application", "data-turbolinks-track" => "reload" %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <div id="wrap">
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>">
          <%= value %>
        </div>
      <% end %>

      <%= yield %>
    </div>
    <%= render 'layouts/footer' %>
  </body>
</html>
